[2022-08-27 10:51] bbriscoe commented on #280
Surely either way, it's an xml2rfc issue:
[code]
But the above code snippet implies that the first question is:
What/who decides citation style policy?

[2022-08-27 11:00] ronaldtse commented on #280
This particular behavior issue with the initials is being fixed in #264 .

In my understanding, the citation style used in RFCs (and Internet-Drafts) is set by the RFC Editor and the RPC.

There are citation standards like ISO 690, APA etc., but ultimately it is the decision of the publisher. If the community would like to revise the current citation style used, I would strongly recommend looking

[2022-08-27 11:14] bbriscoe commented on #280
#264 presumes the initials are available, but as proven by the example URL above, bibxml database no longer includes initials. Therefore #264 must be talking about rendering names of authors of the document itself, not references to other documents.
**Summary: #264 is not relevant to this issue.**

Regarding who sets citation style; I was wrong in my logic: the first question is actually:
**Q1. Wi

[2022-08-28 07:31] strogonoff commented on #275
I believe @stefanomunarini is working on it in https://github.com/ietf-tools/bibxml-service/pull/279, may already be ready actually.

[2022-08-28 09:41] stefanomunarini commented on #275
Confirmed @strogonoff . Waiting for it to be merged

[2022-08-28 10:56] bbriscoe commented on #280
Another example I am now facing, with author "The Bufferbloat community", which renders as "community, T. B."
Using &nbsp; for the spaces is not a work-round, unfortunately.

So I would like an answer to Q1 above pls.

[2022-08-28 12:59] cabo commented on #280
That is not an author name, but an organization

[2022-08-28 21:59] bbriscoe commented on #280
Thanks. However, having just tested it, the bibxml database strips out the organization from the author element. So that's another problem to be fixed.

I've tested xml2rfc on an inline reference with a non-empty organization but an empty fullname, and it does render the organization where the author is normally rendered. So if the bibxml database held initials, surname and organization, this new

[2022-08-29 01:52] ronaldtse commented on #280
This is an incorrect summary. The issue about initials is indeed being addressed in #264 .

They are already included. The "formatted initials" information is being addressed in #264.

This question is ambiguous, it is not differentiating the two cases of:
* "organization as an author" vs
* "an author/editor is affiliated with an organization".

Attempting to address both:
* The bibxml-service alr

[2022-08-29 02:23] ronaldtse commented on #280
@bbriscoe I have investigated your particular issue:

This is the data source of the `draft-ietf-tsvwg-l4s-arch` reference, which is an unversioned reference currently pointing to the latest version, `draft-ietf-tsvwg-l4s-arch-19`:
https://github.com/ietf-tools/relaton-data-ids/blob/eb71498cb05e4bd0b1aee574f9946fbd41c09b50/data/draft-ietf-tsvwg-l4s-arch-19.yaml#L25-L71

I can verify that currently

[2022-08-29 08:14] bbriscoe commented on #280
@ronaldtse thank you for looking into this more deeply. Before answering your questions, I think you've got us closer to the issue:

The XML source you quote for the latest version of this draft (-19) is not the same as the XML source on the datatracker for the latest version here: https://www.ietf.org/archive/id/draft-ietf-tsvwg-l4s-arch-19.xml which contains surname and initials (and in one case

[2022-08-29 11:47] cabo commented on #280
Sometime around August 20 datatracker catastrophically lost the ability to generate useful names in citations.
This regression needs to be fixed.

[2022-08-29 11:53] cabo commented on #280
The datatracker event seems to coincide with the 8.14.0 release.
I can't find anything in the release notes that would explain the regression.

[2022-08-29 12:37] bbriscoe commented on #280
The issue I am reporting here goes back a lot further.

Taking the example (De Schepper, Koen) that I used, references to I-Ds with the author in the form "Schepper, K. D." started some time between 10 Mar 2021 & 07 May 2021:

- 07 May 2021 https://datatracker.ietf.org/doc/html/draft-ietf-tsvwg-ecn-l4s-id-15
- 10 Mar 2021 https://datatracker.ietf.org/doc/html/draft-ietf-tsvwg-aqm-dualq-coupled-14

[2022-08-29 12:44] cabo commented on #280
You may be getting similar symptoms from a different bug.  The broken bibxml is new.

Here is the start of a bibxml file I have from reference.I-D.draft-ietf-tsvwg-aqm-dualq-coupled-13.xml, dated Feb 20  2021; this looks good to me, i.e., it didn't have the fullname-only amnesia.

[code]

[2022-08-29 12:55] cabo commented on #280
Whoa, even the newest reference.I-D.draft-ietf-tsvwg-aqm-dualq-coupled-25.xml has all the names.  Just the reference.I-D.ietf-tsvwg-aqm-dualq-coupled.xml has full name only.  Since about ten days ago.

[2022-08-29 13:05] cabo commented on #280
OK, I see that my local record starts to have fullname-only disease around Feb 15 2021, which is when I started to use datatracker instead of tools for I-D bibxml.

[2022-08-29 13:17] cabo commented on #280
[code]

adds the template variant with fullname= only.  I don't understand the context well enough to decode this further.

[2022-08-29 14:15] bbriscoe commented on #280
@cabo Pls provide full URLs. The BIBXML of the most recent drafts (all posted about 3.5 hours ago) at these URLs only have fullname:

https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-l4s-arch-20.xml
https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-ecn-l4s-id-29.xml
https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-aqm-dualq-coupled-2

[2022-08-29 14:27] cabo commented on #280
On 29. Aug 2022, at 16:15, Bob Briscoe ***@***.***> wrote:

I was talking about datatracker as a source (I’m currently not recommending using bib.ietf.org as a source), e.g.:

https://datatracker.ietf.org/doc/bibxml3/draft-ietf-tsvwg-l4s-arch.xml
(Fullname only)
vs.
https://datatracker.ietf.org/doc/bibxml3/draft-ietf-tsvwg-l4s-arch-20.xml
(Correct names AFAICT)

Took me a long time to find out why

[2022-08-29 14:40] bbriscoe commented on #280
OK, thank you. This should hopefully help someone to track down the bug that is stripping out the surname and initials from the one with the unversioned filename.

I'm not convinced that xml2rfc would use "surname, initials" if it was available, so I'd like to see the present issue left open until your https://github.com/ietf-tools/datatracker/issues/4384 is resolved.

[2022-08-29 15:42] rjsparks commented on #280
Bob  - one of the root issues is now explained at https://github.com/ietf-tools/datatracker/issues/4384 and we'll work to correct it.

But you opened this ticket with some examples that I'd like more clarity on:

Yes, very narrow assumptions, and it may not be reasonable to keep making assumptions about the structure of names across cultures at all - there are conversations about just using the fu

[2022-08-29 15:59] rjsparks commented on #250
@strogonoff - this is _not_ fixed.
Can you help us understand why?
See https://bib.ietf.org/public/rfc/bibxml-rfcsubseries/reference.STD.0080.xml
(cc @cabo)

[2022-08-29 16:02] ajeanmahoney commented on #277
@kesara The following error appears related to this issue.

I have a document [1] with the following xi:includes.
Note that RFC 9287 was published 2022 Aug 23. The others are of course older.

[code]

Running xml2rfc on the document fails with the following error (but just for RFC 9287, which is the newest):

[code]

Changing
```https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml ```

[2022-08-29 16:13] rjsparks commented on #277
9287 indeed is not being indexed.
But I'm separately concerned about "SSL: CERTIFICATE_VERIFY_FAILED" - why are we having that friction?

[2022-08-29 16:47] bbriscoe commented on #280
@rjsparks, I'll answer your question after asking my own:
Q2. Are you saying that, once the unversioned link includes surname and initials, multi-word surnames in references to drafts will start to render correctly? Or just that, it will at least then be _possible_ to alter xml2rfc (without needing heuristics) so that multi-word surnames reliably render correctly?

I ask because, in the history of

[2022-08-29 21:05] rjsparks commented on #266
@ronaldtse : to make sure we haven't talked passed each other -  we're expecting a change that removes target for now for bibxml-ids. When do we expect that to land?

[2022-08-29 21:27] rjsparks commented on #277
@strogonoff @ronaldtse  - Please treat this (that bib.ietf.org isn't returning info for RFCs past mid-august as extremely urgent.

(The SSL certificate part is not your issue - it's entirely ours and is being worked on)

[2022-08-29 22:40] kesara opened #281 "Some entries doesn't have `.xml` API URLs"
### Describe the issue

Example:
* https://bib.ietf.org/get-bibliographic-item/?query=RFC+9000
* https://bib.ietf.org/get-bibliographic-item/?query=I-D.li-lsr-ospfv3-srv6-extensions

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-08-30 03:23] ronaldtse commented on #250
Sorry about this @rjsparks -- @strogonoff @stefanomunarini @andrew2net please help investigate, thanks.

[2022-08-30 03:47] ronaldtse commented on #280
@bbriscoe : the BibXML Service uses the Datatracker rsync endpoint for bulk data import. The missing XML attributes (i.e. only `fullname` available) originate from that data. Thanks to @cabo 's investigation, it seems to be a Datatracker issue that needs to be fixed. Once that issue is fixed (and #264), a reindex will resolve the problem.

Since the topic of correctness of initials and surname cam

[2022-08-30 05:01] strogonoff commented on #281
These are cases with source data issues (that we discussed). The final deserialization step raises validation errors, because of which we don’t end up with a fully initialized instance.

Sentry should have events “Failed to reverse xml2rfc URLs for item …” reported.

[2022-08-30 08:22] strogonoff commented on #277
RFC 9287 apparently [is indexed](https://bib.ietf.org/get-bibliographic-item/?query=rfc+9287), so I believe the issue is data format change causing validation errors.

Part of it (changed keyword format) was addressed. Turns out there were more changes (changed person name format, which was done to accommodate initial formatting requests), is being fixed now.

[2022-08-30 08:25] strogonoff commented on #250
When was the source indexed last? I don’t have access to the management panel.

[2022-08-30 08:32] strogonoff commented on #250
Source data issue _was_ in fact fixed (by updating relations) and confirmed. The data looked this way (it may still work on staging instance, which doesn’t have auto source reindexing: https://dev.bibxml.org/public/rfc/bibxml-rfcsubseries/reference.STD.0080.xml)

<img width="1246" alt="Screenshot 2022-08-30 at 3 27 10 PM" src="https://user-images.githubusercontent.com/292959/187389232-deab89bb-5bc

[2022-08-30 10:27] strogonoff commented on #277
@kesara could you look at https://github.com/ietf-tools/bibxml-service/pull/282/? It should address this issue by adjusting source data to what current version of `relaton-py` expects (while we are updating `relaton-py` typings to accommodate new source data structures).

[2022-08-30 19:41] ajeanmahoney commented on #280
@bbriscoe I'm just adding some background to a few things that have been mentioned in this issue. I'll try to move the conversations somewhere else.

Providing some background for John's comment above:

The use of a single initial was specified no later than 1993 in [RFC 1543](https://www.rfc-editor.org/rfc/rfc1543#section-4) has been propagated to the present Style Guide (which does now allow for

[2022-08-31 05:58] strogonoff commented on #271
I see the link [in documentation](https://bib.ietf.org/static/docs/topics/architecture.html) was fixed to point to  https://github.com/ietf-tools/bibxml-service/wiki/Data-sources thanks to Ronald. Combining docs and wiki, is documentation lacking?

[2022-08-31 05:59] strogonoff commented on #250
Addressed by the latest PR: https://bib.ietf.org/public/rfc/bibxml-rfcsubseries/reference.STD.0080.xml

[2022-08-31 08:10] ronaldtse commented on #250
Yes confirm that this is working and functional. Thanks @strogonoff !

https://bib.ietf.org/public/rfc/bibxml-rfcsubseries/reference.STD.0080.xml
<img width="659" alt="Screen Shot 2022-08-31 at 4 09 32 PM" src="https://user-images.githubusercontent.com/11865/187627151-b75288e8-24a1-4444-8817-873d3f818637.png">

[2022-08-31 08:10] #250 closed

[2022-08-31 08:14] ronaldtse commented on #281
This was fixed by @strogonoff in #282. The following screenshots confirm the fix. Thanks @strogonoff !

https://bib.ietf.org/get-bibliographic-item/?query=RFC+9000
<img width="711" alt="Screen Shot 2022-08-31 at 4 13 14 PM" src="https://user-images.githubusercontent.com/11865/187628210-2faad3b0-b30d-49ad-9a40-891a44139586.png">

https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9000.xml
<img wi

[2022-08-31 08:14] #281 closed

[2022-08-31 08:16] ronaldtse commented on #277
#282 from @strogonoff has fixed this issue (thanks!). Thanks @ajeanmahoney for raising this issue!

I've verified all the links in the OP and they are now available:
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9273.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9288.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9293.xml
https://bib.ietf.org/public/rfc/bibxml/reference

[2022-08-31 08:17] #277 closed

[2022-08-31 08:30] ronaldtse commented on #266
@rjsparks that is being done in https://github.com/relaton/relaton-py/issues/44 , we need to confirm that other than Internet-Drafts, all other bibliographic sources will also use `<format>` instead of `target`. Can we confirm this?

[2022-08-31 09:29] strogonoff opened #283 "Source data validation issues"
### Describe the issue

Stefano outlined discrepancies between data sources and `relaton-py` expectations [here](https://github.com/relaton/relaton-py/issues/46#issuecomment-1231503626).

These discrepancies lead to issues like: #277, #250, #281.

Fronts on which they could be attacked:

- [ ] Normalizing abnormal source data in BibXML service (fixes partly implemented in #282)
- [ ] Making it so

[2022-08-31 09:33] strogonoff commented on #283
As of now, the discrepancies are:

- `organization -> abbreviation` cases should be covered by normalization in #282
- `person -> name -> given -> ...` cases should be covered by normalization in #282
- `keyword -> ...` cases should be covered by normalization in #278
- `copyright -> 0 -> owner -> ...` cases may need attention (possibly not yet covered)

[2022-08-31 13:06] rjsparks commented on #266
This only _needs_ to happen for Internet-Drafts. It is reasonable to keep RFC behavior in sync. Other formats do not ned to change (and I think should not be changed).

[2022-08-31 13:20] rjsparks opened #284 "Tests should expose breaking changes to source data structure"
There are several places where the bibxml code is having to adjust to changes in the relaton source data, and tests didn't show that things had become disconnected.

This needs to be addressed in addition to whatever actions come from the conversations around versioning libraries to help avoid encountering breaking changes by surprise in the future.

References:
https://github.com/ietf-tools/bibxm

[2022-08-31 13:32] rjsparks commented on #271
https://github.com/ietf-tools/bibxml-service/wiki/Data-sources#xml2rfc-mirror-archive is stale.

Would it be hard to add a column to the table pointing to the code that ingests each source? (Labelled "as of version nnn"). Or if not a direct link to the code, at least a sentence that would help someone responsible for one of these sources look to see what the impact of a change to the source will h

[2022-08-31 14:17] ajeanmahoney commented on #277
Yes, I verified that I can pull data for RFCs that were published up to Aug 29, thanks!

However, there have been 6 published since then that don't have bib data available yet (RFCs 9292, 9284, 9277, 9052, 9053, 9054). These were all published about 14-15 hours ago. How often does the bibxml-service poll for new data?

[2022-08-31 14:34] ronaldtse commented on #277
@ajeanmahoney I believe:
* the BibXML Service refreshes the RFC dataset daily
* then the indexer indexes them daily as well

We can make these two processes more frequent if desired. What would you prefer?

[2022-08-31 15:05] ajeanmahoney commented on #271
It would also be nice to capture how often data is fetched from each data source.

[2022-08-31 16:31] ronaldtse commented on #266
Thanks @rjsparks for the confirmation. We will apply this new behavior for I-Ds, RFCs, and the RFC subseries.

[2022-08-31 20:54] rjsparks commented on #277
Is, say, hourly really going to be particularly expensive?

The community gets twitchy when they try to link to their just published thing and run into trouble. It might take them longer to want to refer to it from a draft, but I can see the case where they wouldn't wait.

[2022-08-31 21:01] rjsparks commented on #266
No urgency. Nothing in the world yet would know to try to look for or use such a thing. Do we even have en existence proofs yet?

Yes. And as I note, we will move towards returning to using target (in addition to format) for drafts and RFCs in the future.

[2022-09-01 01:31] ronaldtse commented on #277
Not on the generation side (because GHA is free for public repositories), but it will consume additional resources on the IETF infrastructure due to more frequent indexing.

[2022-09-01 01:34] ronaldtse commented on #277
@rjsparks please feel free to start a new issue on the frequency of updates on data sources once a decision is made, thanks!

[2022-09-01 01:37] ronaldtse commented on #266
Understand. We will try applying the new approach to the other data sources as feasible. Thanks!

[2022-09-01 09:11] strogonoff commented on #284
As discussed with Kesara today, I don’t think the correctness of this Django project codebase should depend on the correctness of data sources and don’t want this project’s tests to also indirectly test Ruby gems (as well as network connectivity to Github repositories, etc.). We’ll look into making integration test scripts, like [test_paths.py](https://github.com/ietf-ribose/xml2rfc-mapping-conver

[2022-09-01 10:18] reschke opened #286 "XML for W3C specs is broken (anchor is incorrect)"
### Describe the issue

[code]

Anchor needs to be:

[code]

(You really can't change the anchors; they are part of the contract for including the references)

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-09-01 10:55] reschke commented on #286
Note that this is a serious regression which breaks existing documents...

[2022-09-01 11:40] ronaldtse commented on #286
@reschke thanks for raising this issue. This is indeed a bug, we will deal with this.

[2022-09-01 14:51] rjsparks opened #288 "Find the right frequency for refreshing the each dataset"
At #277, @ajeanmahoney requests that the RFC dataset be updated at least once every 12 hours. I'm wondering if the community will want the updates to appear even more rapidly, and suggest we look at the cost of an update once per hour.

We should tune this for all the datatasets.

Is there a quick link to point to what the current configuration is?

[2022-09-01 17:25] bbriscoe commented on #280
Thank you everyone for the insights about possible changes in reference style, and about convergence between the RFC Editor's name model and that of the datatracker. Now that is all clear, I agree that those discussions should be elsewhere. We need to separate policy discussions from mechanism.

With both the current reference style and any possible new style policy, multi-word surnames need to be

[2022-09-01 18:49] cabo commented on #280
On 2022-09-01, at 19:25, Bob Briscoe ***@***.***> wrote:

See for instance RFC 9191 (or 9190, 9175).
https://www.rfc-editor.org/rfc/rfc9191.html
https://www.rfc-editor.org/rfc/rfc9191.txt
https://datatracker.ietf.org/doc/html/rfc9191

John Preuß Mattsson is one of the authors.

On the first page, as well as in rfc-index, he is called J. Preuß Mattsson (according to the old initials style that RFC

[2022-09-01 21:19] bbriscoe commented on #280
Thank you, Carsten (@cabo), for checking this. So, where do we go from here? Who finds out why the unversioned bibxml on the datatracker has fields stripped out, and gets it fixed?

Aside from these primary questions, I'm now going to go off on a slight tangent myself, ...
Perhaps more interesting is the [CBOR-CERT] reference to a _draft_ authored by John Preuß Mattsson within RFC9191. The unversi

[2022-09-02 06:34] reschke commented on #286
As this is a breaking change - would it be possible to roll back to a version without that bug until it gets fixed? (there's a real risk that people will start "adjusting" their documents, and then we'll be in a very undesirable state).

[2022-09-02 08:00] strogonoff commented on #286
There’s a PR pending for this now.

[2022-09-02 08:04] strogonoff commented on #276
It was supposed to be working but it was working only for some documents.

- https://bib.ietf.org/public/rfc/bibxml4/reference.W3C.REC-xml-stylesheet-20101028.xml?anchor=foobar works
- https://bib.ietf.org/public/rfc/bibxml-rfcsubseries/reference.STD.0080.xml?anchor=foobar doesn’t

[2022-09-02 08:56] strogonoff opened #290 "Documentation has placeholder instead of current version"
### Describe the issue

<img width="1197" alt="Screenshot 2022-09-02 at 3 55 26 PM" src="https://user-images.githubusercontent.com/292959/188103246-99653a6c-0f4a-4d6f-b201-64eba1194fb3.png">

Note “vplaceholder” in the title.

This is not the case with the staging instance:

<img width="1197" alt="Screenshot 2022-09-02 at 3 56 05 PM" src="https://user-images.githubusercontent.com/292959/188103411-

[2022-09-02 08:57] strogonoff commented on #288
Two notes:

- Reindex delay is the same for all data sources (https://bib.ietf.org/static/docs/howto/auto-reindex-sources.html)
- Having a source reindexed more often than it is rebuilt (specified [in GHA](https://github.com/ietf-tools/relaton-data-rfcs/blob/main/.github/workflows/fetcher.yml#L6)) will not provide any improvement.
  - A data source should be rebuild more frequently first, and then

[2022-09-02 11:41] #276 closed

[2022-09-02 11:59] kesara commented on #286
Fix deployed to https://bib.ietf.org

[code]

[2022-09-02 11:59] #286 closed

[2022-09-02 12:05] kesara commented on #276
Fix deployed to https://bib.ietf.org

[code]

[2022-09-02 12:43] reschke commented on #286
But then:

[code]

That doesn't look right.

[2022-09-03 10:06] strogonoff commented on #286
Hi @reschke,

I see this in the new RFCXML spec about `seriesInfo`:

The elements as output currently don’t seem to violate the spec, but based on your comment I assume they may violate the expectations of some consumers. Do you mean that consumers will break if they encounter anything other than [this](https://github.com/ietf-ribose/bibxml-data-archive/blob/aa785ca9f4cf2233540a62e734d5be14d01fe36

[2022-09-03 10:58] ronaldtse commented on #286
W3C does not seem to employ a documented document identifier scheme that is intended for seriesInfo. The question I think @reschke is raising is that it “looks different” from the bibxml4 W3C entries, but what it should be is undefined and the implications unknown.

[2022-09-04 07:23] reschke commented on #286
The issue here is that you have two entries where one is sufficient. Any renderer will use both, which will create very confusing output.

In doubt, leave things they were before.

I also note that the authors do not appear in the order on the document, which might be a problem with the W3C database.

Ages ago I wrote tools to generate references for W3C specs, see output over here: https://www.gr

[2022-09-04 10:33] strogonoff commented on #286
Thanks. I’ll direct my request for information elsewhere.

I’m not in doubt as long as the spec is satisfied, but it turns out consumers break regardless.

@ronaldtse We definitely [don’t output `<annotation>`](https://bib.ietf.org/public/rfc/bibxml4/reference.W3C.REC-xml-stylesheet-20101028.xml), should we check with W3C?

This seems like another doctype-specific XML rule, so the universal XML se

[2022-09-04 10:40] reschke commented on #286
Ok - risking to state the obvious...

I would recommend running regression tests with a RFCXML document that includes references of all types (DOI, W3C, STD, BCP etc), and not to update the system until all changes in rendered plain text or HTML (your choice, doesn't matter much) are understood and found to be intentional.

[2022-09-06 14:03] strogonoff commented on #286
@reschke  This was not originally implemented because returned XML was _expected_ to differ (to be specific, the service was supposed to return more correct, complete and up-to-date data compared to xml2rfc tools). Thus, there are tests that are supposed to fail if the spec (XML schema) is violated, but no tests that fail when returned data is different.

However, given a flood of issues where dif

[2022-09-06 17:02] strogonoff commented on #275
I believe this had been merged

[2022-09-06 17:02] #275 closed

[2022-09-06 17:42] rjsparks commented on #280
Bob - apologies that you didn't get as concise a response as you were looking for.

We are tracking the problem with the source data from the datatracker at https://github.com/ietf-tools/datatracker/issues/4384. It will get corrected. When it is corrected, the behavior from xml2rfc will be the same as what we currently see if a versioned reference is provided. I am not claiming that that behavior

[2022-09-06 18:01] larseggert commented on #280
We should let people specify a name string, similar how we let them now specify an address string.

For background, this is the page a former colleague has: https://asokan.org/asokan/name.php

[2022-09-06 21:20] #260 closed

[2022-09-11 22:31] CinC855 opened #295 "Identity Theft; Hacking"
### Describe the issue

I have never registered for the RFC Scheme. I do not code. Murray James Houston, my soon to b ex husband, a self confessed porn addict created the initial GitHub account, registered thvRFC Scheme using my credentials.

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-09-13 15:05] ajeanmahoney opened #296 "bibxml library: IAB and IESG as authors"
### Describe the issue

(This report should not be confused with #262, which is an issue with a different library)

For 35 RFCs in the IAB Stream, the Internet Architecture Board is listed as an _author_ (not an organization). (Note that the IAB no longer lists itself as an author in its RFCs, so this issue only impacts a subset of older IAB Stream documents.)

For 22 of those RFCs, the author inf

[2022-09-14 15:26] ronaldtse commented on #264
The fix in
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.2119.xml
[code]

This was fixed in #282 commit https://github.com/ietf-tools/bibxml-service/pull/282/commits/377d76f4ba26e6b675d8c4a19a04112cd756189b . Closing.

[2022-09-14 15:26] #264 closed

[2022-09-14 15:33] ronaldtse commented on #238
The fix has been merged in #282 thanks to @strogonoff . Closing.

https://bib.ietf.org/public/rfc/bibxml/reference.RFC.4872.xml
[code]

[2022-09-14 15:33] #238 closed

[2022-09-14 15:53] ronaldtse commented on #271
@rjsparks @ajeanmahoney  I've fixed the stale link, added links to the sources of the software, and added a frequency column.

[2022-09-14 16:04] ronaldtse commented on #280
@cabo FYI:

https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9190.xml
[code]

This reflects accurately the data provided by rfc-index.xml.

I am not sure where you got this information from:

Specifically, rfc-index.xml gives us this.
[code]

There's no sight of the word "John". I suspect you are referring to the I-D that is in RFC XML format, not the bibliographic information published by the

[2022-09-14 16:07] cabo commented on #280
This was less a comment on your software than a comment on the overall characteristics of the service created.
We'll need to migrate to data sources that don't have this problem any more, but that is further out, I'd say.

[2022-09-14 16:29] ronaldtse commented on #288
@strogonoff is exactly right. Other than those considerations, we also want to make sure that overlapping fetching and indexing processes don't happen simultaneously.

[2022-09-14 16:32] ronaldtse commented on #296
Thanks @ajeanmahoney , we can certainly adjust this.

[2022-09-14 16:33] ronaldtse commented on #296
@strogonoff @stefanomunarini could you have a look to see if this affects relaton-py? Thanks.

[2022-09-14 16:34] ronaldtse commented on #271
@ajeanmahoney @rjsparks is the documentation now sufficient to close this issue? Thanks.

[2022-09-14 16:36] ronaldtse commented on #280
If the RFC bibliographic data provides full information like that of the Internet-Drafts, then we won't have this problem. As you pointed out, there are a few moving blocks that need to be resolved before the data can fully align.

[2022-09-14 16:51] strogonoff commented on #296
@ronaldtse

- Does this mean serialization is wrong, or source data is wrong?

- The source should specify IAB as an org or a person consistently

- We can special-case this and serialize IAB as a person rather than organization whenever it is encountered

There are definitely consistency issues in the source.

- For some RFCs source gives organization: https://github.com/ietf-tools/relaton-data-r

[2022-09-14 17:27] ajeanmahoney commented on #296
The source data (rfc-index.xml) is correct in these cases. Note that the source data cannot consistently specify the IAB as an author or an organization because this hasn't been consistent over the history of IAB docs.  The source data captures what is shown the RFC header, and the bib data should match what is given in the RFC header.

[2022-09-14 17:55] rjsparks commented on #271
@ronaldtse : Close.

There are still some /ietf-ribose/ repositories called out that have moved already to /ietf-tools/, and we need to address https://github.com/ietf-ribose/bibxml-data-misc which has not moved yet?

[2022-09-15 01:42] rsam036 opened #297 "Abug"
### Describe the issue

rsam03606@gmail.com cannot do a damn thing on the phone NOT A DEVELOPER  I NUST CLICK HERE AND THERE WAS BORED BUT NOW IM SICK AND YOU ARE GROWING WEARY

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-09-15 09:49] ronaldtse commented on #296
As per: https://www.rfc-editor.org/rfc/rfc7991

The `<organization>` tag is only for:
[code]

So it is only for affiliation.

In this case, the correct format in RFC XML seems to be (according to RFC 7991):

[code]

Because there is no "organization".

We can do the same for all these you've listed:
* "IAB"
* "Internet Architecture Board"
* "IAB and IESG"
* "IAB Advisory Committee"
* "IESG"
* "Int

[2022-09-15 13:23] ajeanmahoney commented on #296
yes, thanks!

[2022-09-15 17:31] #297 closed

[2022-09-15 21:11] kesara commented on #271
bibxml-data-misc repository has been transferred to ietf-tools: https://github.com/ietf-tools/bibxml-data-misc

[2022-09-16 17:38] #271 closed

[2022-09-16 18:16] ajeanmahoney commented on #296
The information coming from source (i.e., rfc-index.xml) should not be modified if can be helped. The RPC can clean up source data, and this can propagate through rfc-index.xml. If it's needed later, we could work on a specification that describes what a transform of RFC bib data would look like.

[2022-09-16 22:04] rjsparks commented on #296
To drive the point a little harder. The way the IAB has represented itself in the past in the RFC series has not been consistent. It is not right to try to rationalize what they did in the past into some single form of representing the reference - we need to report accurately on what happened at the time. The underlying semantics may or may not matter to the IAB that published a given document, bu

[2022-09-20 02:22] ronaldtse commented on #280
In response to @rjsparks, I believe this issue is about future things and requires changing several pieces (RPC practice + database, data model alignment, specs).

Can we rename the title and group it under such a milestone so we don't miscategorize or forget this?

[2022-09-20 02:27] ronaldtse commented on #296
Thanks @ajeanmahoney @rjsparks . Is the following summary correct?

1. In BibXML the proper way to encode an organization author is
  * `<author><organization>Org Name</organization></author>`
2. In these IAB/IESG entries, the RPC has not determined what they semantically represent. It is not certain that they should be considered "people", "organizations" or something else.
3. Hence we should not

[2022-09-20 13:55] rjsparks commented on #296
To make this a bit more concrete. Look at the references in RFC9280, particularly to the reference to RFC5620. In text form:

In the published XML:
[code]

[2022-09-20 13:58] rjsparks commented on #296
And I don't think we've used the `Undetermined` form above in any published v3 xml for the IAB, and I think it's unlikely that it's been used for anything else that could be recognized as an organization.

If Undetermined did happen, for all practical purposes - it's identical to Person as you describe above.

[2022-09-20 14:48] rjsparks commented on #280
It's not clear that the bibxml project would need to track it? If the datafeeds from the datatracker and rfc-editor changes, wouldn't the right thing happen here with the existing code?

The bigger issue won't be forgotten - it will be a big topic for the RSWG (and other parts of the I* leadership) to deal with.

[2022-09-20 19:36] rjsparks opened #300 "BibXML validation error for NIST IR 90-4250"
From @russhousley:

[2022-09-20 19:38] rjsparks commented on #300
![image](https://user-images.githubusercontent.com/10996692/191349107-4ad53377-70ba-46ce-8ed4-6c78e1f961ad.png)
looks suspicious

[2022-09-20 19:41] rjsparks commented on #300
See also https://bib.ietf.org/indexed-sources/relaton-data-nist/NISTIR_90-4250/

[2022-09-21 04:16] ronaldtse commented on #300
The source data seems correct:
https://github.com/relaton/relaton-data-nist/blob/main/data/NISTIR_90-4250.yaml

The validation code seems to expect something else:
[code]

@strogonoff @stefanomunarini can you help investigate? Thanks.

[2022-09-21 04:33] ronaldtse commented on #296
@rjsparks Thanks. We don't have access to the RPC published XML but this is definitely enlightening.

In the excerpt of RFC 9280 of 5620's BibXML, it shows that IAB is encoded as an `<author><organization>`, which @ajeanmahoney has stated in the original post that is counter to their expectations.

[code]

The only reason we proposed the "Undetermined" category is that the RPC stated that they do

[2022-09-21 04:35] ronaldtse opened #301 "Support Editorial Stream"
### Description

As described in https://github.com/ietf-tools/xml2rfc/issues/896

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-09-21 14:29] rjsparks commented on #296
Yes you do. It's all in the rfc archive: `rsync ftp.rfc-editor.org::rfcs/rfc\*xml`

[2022-09-21 17:48] stefanomunarini commented on #300
@ronaldtse this is related to https://github.com/relaton/relaton-py/issues/39 . There is already an [open PR](https://github.com/ietf-ribose/bibxml-service/pull/2) tackling this. It should be merged very soon

[2022-10-03 14:12] ronaldtse commented on #300
Closing since https://github.com/ietf-ribose/bibxml-service/pull/2 has been merged.

[2022-10-03 14:12] #300 closed

[2022-10-10 12:55] ronaldtse commented on #296
Sorry @rjsparks I missed the message. Now armed with this data, are we saying that we want the BibXML service to obtain RFC authorship from the RFC archive directly, i.e. ignore rfc-index.xml?

That would be quite a change.

[2022-10-10 14:19] ronaldtse commented on #296
Thanks @rjsparks . So we went through the full list of names available in rfc-index.xml (RFC0001 to RFC9318).

We found several issues that perhaps the RPC (ping @ajeanmahoney ) could address as data issues:

* 5 entries introduced an empty space before the name text (RFC4054, RFC4422, RFC4504, RFC4620, RFC4790), e.g. `<name> A. Chiu</name>` instead of `<name>A. Chiu</name>`
* extra "dot" in the R

[2022-10-10 15:06] ronaldtse commented on #296
@rjsparks I am confused with this particular comment:

This example clearly points to "IAB" being encoded as an organization author.

However, the RPC (@ajeanmahoney above) is specifically asking to NOT represent "IAB" as an organization author (https://github.com/ietf-tools/bibxml-service/issues/296#issuecomment-1248097196).

(Also a note to self that this is RFC 5620 bibliographic data in RFC 92

[2022-10-10 23:58] ronaldtse commented on #296
The crux of the problem is that the RFC XML name model and that of rfc-index.xml are different, which leads to different expectations from BibXML consumers.

* For the "author" element, RFC XML expects fullname, initials and surname.

* rfc-index.xml only provides the equivalent of fullname.

The RPC expects at least the following:

1. personal names to fully populate fullname, initials and surnam

[2022-10-11 09:00] russhousley commented on #300
Yes, but down below it correctly lists the first name a Charles.

[2022-10-11 09:28] cabo commented on #280
On 2022-09-01, at 20:49, Carsten Bormann ***@***.***> wrote:

(I now collected this and some more information in https://github.com/cabo/kramdown-rfc/wiki/Human-Names — this is a Wki, so feel free to add further discussion.)

Grüße, Carsten

[2022-10-11 09:59] ronaldtse commented on #300
Thanks @russhousley , actually the issue has been fixed on our fork (ietf-ribose/bibxml-service) but not in the current repo. We'll have to PR this change.

[2022-10-11 13:25] Flowdalic opened #302 "Indexing XMPP Extension Protocols (XEPs)?"
### Description

I wonder if indexing XMPP Extension Protocols (XEPs) would be an option for bib.ietf.org. We, i.e., the XMPP Standards Foundation, currently provides bibxml files for all published XEPs at https://xmpp.org/extensions/refs/. Currently as one file per XEP, but it would be easy to also provide an archive with all bibxml files (e.g. https://xmpp.org/extensions/refs/all.tgz).

If you a

[2022-10-11 13:27] ronaldtse commented on #302
@Flowdalic we (the Relaton project) would be very interested in distributing the bibliographic information of XEPs. All we need is confirmation that the bibliographic data is openly licensed that allows re-distribution.

Once Relaton is allowed to distribute the data, the BibXML Service can consume it easily.

[2022-10-11 13:31] Flowdalic commented on #302
Thanks for the fast reply. We are always happy to have consumers of the XEP bibliography and I believe the XSF should be able to provide such a confirmation.

Could you elaborate how the Relaton project is related to bib.ietf.org? Will bibliopgrahy consumed by Relaton automatically appear on bib.ietf.org?

[2022-10-11 13:58] Flowdalic commented on #302
Thanks for the clarification. Would it be enough if we put a text file at e.g. https://xmpp.org/extensions/refs/LICENSE that states something like

(suggestions for the license text are welcome).

[2022-10-11 14:28] rjsparks commented on #296
So first - focusing on the original request: The essence was to not turn "Internet Architecture Board" or "IAB" or vice-versa, but to use whichever variant the rfc-index provides for a given RFC (and it will not be consistent). That should be preserved whether the string gets identified as an organization or not. Please confirm that _this_ part of the request was not lost.

The conversation above

[2022-10-11 14:35] rjsparks commented on #296
Nit: Where did you find 'Bolt Baranek', and are you sure it didn't say 'Bolt Baranek and Newman' there?

[2022-10-11 14:37] ajeanmahoney commented on #296
Currently rfc-index.xml does not provide information on author's organizations or identify organizations as organizations.

The RPC needs to plan to provide this sort of information in the future to the bibxml service, and we will coordinate this data roll out.

[2022-10-11 14:37] rjsparks commented on #296
at

These should _probably_ be reported as errata, but send an example to the RPC by email to verify that's how they want to ingest the information.

[2022-10-11 14:46] ronaldtse commented on #296
This part of the request was handled in this issue:
* https://github.com/relaton/relaton-ietf/issues/101

From rfc-index.xml:
[code]

We are happy to treat all of these as "organizations", but we wish for the RPC to confirm with us which ones are organizations and which ones we should not semantically determine, because as @ajeanmahoney mentioned in this ticket, "IAB" and "IESG" are not to be trea

[2022-10-11 17:17] rjsparks commented on #296
So, the list should have "Bert Beranek" and "Newman Laboratories" _and_ "Bert Berenek and Newman Laboratories". So that the right thing happens when the RPC updates the author information for RFC907.

[2022-10-11 20:20] rjsparks commented on #296
A quick reskim of https://github.com/ietf-tools/xml2rfc-bibxml/blob/main/bibxml/bibxml-rfcs/gen-bibxml-rfcs-via-rfc-index would probably be helpful here.

[2022-10-11 20:24] ajeanmahoney commented on #296
@ronaldtse All entries in the lists above ("Real organizations", "Groups", "Organization-like", and "IETF related") should be treated as "organizations" so that we may move forward.

[2022-10-12 07:24] ronaldtse commented on #302
Thank you to @Flowdalic the XEPs bibliographic data are now under CC0, which allows redistribution.

[2022-10-12 14:47] ronaldtse commented on #302
Got it @Flowdalic -- now that https://github.com/xsf/xeps/pull/1220 is merged, we shall await your confirmation that the XSF board approves the change.

[2022-10-13 03:24] ronaldtse commented on #296
Thank you @rjsparks , not sure how we missed this all the time!

We will incorporate these as test cases at:
* https://github.com/relaton/relaton-ietf/issues/103
* https://github.com/relaton/relaton-py/issues/50

Thank you @ajeanmahoney !

[2022-10-13 08:23] Flowdalic commented on #302
The Board approved the change, hence the PR was merged. Unfortunately, it was reverted due to technical reasons. There is now https://github.com/xsf/xeps/pull/1221 that fixes those.

[2022-10-13 20:33] ronaldtse opened #303 "`rfc-index.xml` missing BCP0113"
### Describe the issue

From @strogonoff  https://github.com/relaton/relaton-ietf/issues/104

From @andrew2net:

I checked the latest `rfc-index.xml` and it does contain BCP0112, BCP0114, but no BCP0113.

@ajeanmahoney @rjsparks could we have a clarification here? Thanks!

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE

[2022-10-13 23:21] lbartholomew-rpc opened #304 "Incorrect or missing info. in initials, surname, fullname for some bibxml3 files"
### Describe the issue

It looks like all of the issues below except the "I." for IJ. Wijnands (a long-standing issue in I-Ds) were introduced between Sept. 15 and Oct. 10, 2022.  I found these when doing pre-publication steps on RFC-to-be 9262 today.

https://datatracker.ietf.org/doc/bibxml3/reference.I-D.ietf-bier-multicast-http-response.xml
https://datatracker.ietf.org/doc/bibxml3/reference.I-D

[2022-10-14 02:59] kesara commented on #304
I think these issues should be raised on datatracker (maybe xml2rfc).
See bibxml citations doesn't have this issue:
* https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-bier-multicast-http-response.xml
* https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.eckert-bier-te-frr.xml
* https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-bier-te-yang.xml
* https://bib.ietf.org/public/rfc

[2022-10-14 03:00] ronaldtse commented on #302
Thank you @Flowdalic !

[2022-10-17 16:19] ajeanmahoney commented on #303
BCP 113 contained only RFC 4333, which was obsoleted by RFC 8711, which belongs to BCP 101. Thus, BCP 113 no longer exists.

[2022-10-17 17:51] rjsparks commented on #303
@ajeanmahoney : feature request for future rfceditor database work then? There should be a page that says "used to contain", perhaps even for bcps that still have things in them.

On the datatracker side, we have a task in front of us to model BCPs as a thing that has RFCs related to it, and we would have a page there that noted that the BCP existed but had no RFCs in it. I think we will also be a

[2022-10-17 23:53] ronaldtse commented on #303
Thanks @ajeanmahoney @rjsparks for the clarification.

For the upcoming remodeling of the BCP which will attempt to model document history, please note that this represents a break from the RFC numbering tradition.

The RFC numbering tradition is that RFCs with the same number will not be published more than once. If a BCP is allowed to be differentiated into multiple editions (eg. contains RFC X

[2022-10-17 23:54] ronaldtse commented on #303
@strogonoff @andrew2net what @rjsparks meant is to remove the backstop file for bcp0113, because it should no longer resolve.

[2022-10-18 13:00] rjsparks commented on #303
I don't propose that a BCP number would ever be used to mean a collection about something unrelated - the title would never change.
But the set of RFCs that comprise a BCP (or a STD or any other subseries) have _always_ been able to change over time, and many of them have changed.

[2022-10-18 13:07] ronaldtse commented on #303
@rjsparks hmmm, here's an added problem -- BCPs traditionally have "inherited" the title from the first RFC it contains. BCPs do not have explicit titles. If it is decided that they should have titles, the RPC needs to explicitly assign them.

[2022-10-18 13:15] rjsparks commented on #303
I went looking for an example to back up my claim of change of constituency, and am not finding one quickly.
While digging, however, I noticed that STD10 had all of its components obsoleted, yet continues to exist.

[2022-10-18 18:44] alicerusso commented on #283
adding some IEEE examples of this issue in practice. (presumably this is #283, although I don't see "Could not export" mentioned above.) Got the following errors upon click of "bibxml" on:
- https://bib.ietf.org/get-one/by-docid/?doctype=IEEE&docid=IEEE+1003.1-2017&format=bibxml
- https://bib.ietf.org/get-one/by-docid/?doctype=IEEE&docid=IEEE+1003.1-2016&format=bibxml
- https://bib.ietf.org/get-on

[2022-10-18 21:03] alicerusso commented on #303
STD 10 is a particularly odd case. Essentially, the subseries identifier remains associated with 4 RFCs because 3 were obsoleted by a Proposed Standard (rather than an Internet Standard, which would have taken the identifier) and one was not obsoleted at all (RFC 1870).

As for the statement that "the set of RFCs that comprise a BCP (or a STD or any other subseries) have always been able to change

[2022-10-19 00:22] rjsparks commented on #303
thanks for the examples!

[2022-10-19 14:48] ajeanmahoney commented on #296
Apologies for adding to the list of authors that are actually organizations that need special handling, but RFC 2555 should have "RFC Editor, et al." treated as an organization.

From rfc-index.xml:
[code]

Currently in bibxml:
[code]

Perhaps (similar to the handling for RFC 5000):
[code]

[2022-10-19 14:58] strogonoff opened #307 "CI: GHA doesn’t show test logs and outcomes"
### Describe the issue

According to the logs, it appears as if everything starts and then shuts down.

The errors in log messages are likely not the cause. They are logged by DB layer, and are caught by calling code as required. It could be that tests may be executed in background, but we don’t see any output from them.

[code]

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Con

[2022-10-19 15:23] strogonoff commented on #307
Update: this is not such a heisenbug after all. Apparently, our CI test configuration is such that we store _actual_ test results in a file called `/test-artifacts/stderr.log` on host machine.

This file can be found by inspecting data loally, but does not seem to appear in CI output in GHA. Somehow this slipped through the cracks and was only found out now when build became red due to a single te

[2022-10-19 18:03] stefanomunarini commented on #307
PR #306 contains the fix to this issue

[2022-10-19 18:04] strogonoff commented on #307
Let’s see if it works in the fork/PR before it’s merged😉On 19 Oct 2022, at 9:03 PM, Stefano ***@***.***> wrote:﻿
PR #306 contains the fix to this issue

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were assigned.Message ID: ***@***.***>

[2022-10-19 21:39] strogonoff commented on #307
It seems to be fixed. Messages show in container output locally and on GHA.

[2022-10-19 21:39] #307 closed

[2022-10-19 21:39] strogonoff commented on #307
Thanks @stefanomunarini!

[2022-10-20 00:47] ronaldtse commented on #296
@ajeanmahoney thank you for suggesting to handle "RFC Editor, et al." as an organization, that makes more sense. We'll add this to the test cases!

[2022-10-21 19:13] strogonoff opened #308 "`HOST_NAME` environment variable is not documented"
### Describe the issue

I believe @kesara renamed `HOST` to `HOST_NAME` and didn’t update documentation in 04ddc96ee31a55f185d86c812b7919cf7ebc1729. This breaks all environments that still specify `HOST`.

Documentation was updated to point out the need to continuously update documentation (e.g., by grepping) when or before making changes.

### Code of Conduct

- [X] I agree to follow the [IETF's

[2022-10-21 19:53] strogonoff opened #309 "Update to newer Compose file version"
### Description

Currently we use 3.3, but we could probably use 3.9+.

Perhaps @kesara could outline the possibility of this?

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-10-21 21:11] strogonoff opened #311 "Launching Docker-based development environment locally fails with an error"
### Describe the issue

The error makes all development problematic due to inability to launch the service locally.

The error happens when container `celery` is started:

[code]

I suspect it may have to do with this part of the Compose file:

[code]

Is there a new dependency that I missed that is required for this to work?

cc @kesara

### Code of Conduct

- [X] I agree to follow the [IETF's Co

[2022-10-24 18:10] kesara commented on #309
Yes, it was downgraded because of the docker engine & docker-compose version limitation in the server which runs openSUSE Leap.

[2022-10-24 18:15] kesara commented on #308
Ah, sorry about that. I had to use `HOST_NAME` because there were some issues with having `HOST`. I don't remember the issues now.

[2022-10-24 18:20] kesara commented on #311
This is another operational change I had to make because we collect logs for monitoring by writing them to an internal syslog daemon.

[2022-10-24 18:56] strogonoff commented on #308
OK, no problem with this one, documentation has been updated.On 24 Oct 2022, at 9:15 PM, Kesara Rathnayake ***@***.***> wrote:﻿
Ah, sorry about that. I had to use HOST_NAME because there were some issues with having HOST. I don't remember the issues now.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were assigned.Message ID: ***@***.***>

[2022-10-24 21:37] rjsparks opened #312 "IANA references should not contain dates"
See https://mailarchive.ietf.org/arch/msg/tools-discuss/2OXa1uII9glZewc_--fokyJejoc
Please remove the dates from the references to IANA registries.

[2022-10-25 15:48] rjsparks commented on #311
is development configuration separated from deployment configuration in a way that would make this logging configuration easy to isolate?

[2022-10-25 19:03] kesara commented on #311
At the moment syslog configuration is in `docker-compose.yml`.
Running bibxml-service requires both `docker-compose.yml` and `docker-compose.dev.yml`.
I think we can overwrite the logging configuration in `docker-compose.dev.yml` or move syslog logging configuration to another dockerfile for production.

[2022-10-26 00:19] kesara opened #313 "bibxml7 issue"
### Describe the issue

Example: https://bib.ietf.org/get-one/by-docid/?doctype=IETF&docid=RFC+9000&format=bibxml

Clicking on the second BibXML reference link (https://bib.ietf.org/public/rfc/bibxml7/reference.DOI.10.17487/RFC9000.xml) generates the following error:

[code]

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/C

[2022-10-26 05:43] ronaldtse commented on #313
Thanks @kesara : this looks like an issue with fetching a DOI with a slash?

[2022-10-26 05:45] ronaldtse commented on #312
The quoted mail is from @cabo:

[2022-10-26 05:50] ronaldtse commented on #312
As mentioned by @cabo, the authoritative source lists out two dates:
* https://www.iana.org/assignments/mud/mud.xhtml

<img width="552" alt="Screen Shot 2022-10-26 at 1 47 17 PM" src="https://user-images.githubusercontent.com/11865/197944853-4daaffb9-f591-4124-bcd8-d8b531f6d216.png">

According to RFC 7991:

The `<date>` element is supposed to be the "publication date", i.e. the "creation date of

[2022-10-26 06:11] ronaldtse commented on #296
@ajeanmahoney I believe the issue has been solved with the latest PR #306:

https://bib.ietf.org/get-bibliographic-item/?query=RFC+4089

<img width="299" alt="Screen Shot 2022-10-26 at 2 11 16 PM" src="https://user-images.githubusercontent.com/11865/197948277-a50d6511-e4b2-485e-9c9b-21b470baf2d1.png">

https://bib.ietf.org/get-bibliographic-item/?query=RFC+3716

<img width="241" alt="Screen Shot 2

[2022-10-26 13:17] ajeanmahoney commented on #312
@ronaldtse  The construction of the references to IANA registries is specified in the [Web Portion of the Style Guide](https://www.rfc-editor.org/styleguide/part2/), and the guidance was developed in coordination with IANA: https://www.rfc-editor.org/styleguide/part2/#ref_iana_reg

[2022-10-26 13:25] ronaldtse commented on #312
@ajeanmahoney thanks for the clarification. In this case we will not provide dates for IANA references in BibXML output.

The relevant tasks are:
* https://github.com/relaton/relaton-ietf/issues/103
* https://github.com/relaton/relaton-py/issues/53

[2022-10-26 13:44] cabo commented on #312
Whatever the documentation, the guiding principle for this migration should have been not to break existing documents.

[2022-10-26 18:54] strogonoff commented on #312
@ronaldtse me and @stefanomunarini took a note about dates, but regarding the larger issue

To go beyond RFCXML schema compliance and avoid regressions in legacy XML consumers we’ve been doing diffing to spot inconsistencies across the previously existing and new XML (and are working on turning the script we’ve been using into a more user-friendly tool), however unfortunately this approach _does n

[2022-10-26 19:39] strogonoff commented on #312
What we have is a tool that iterates over `/public/rfc/<subdir>/*.xml` and shows a before/after diff. Unfortunately, for `bibxml8` we don’t have the “before” XML, because I think `bibxml8` contents were dynamically generated based on IANA endpoint, so we can’t diff. I’m not sure where in RFC data we could find the exact XML required for diffing. I can’t find IANA MUD registry XML as part of RFC 92

[2022-10-26 19:50] cabo commented on #312
Indeed, there are no `xi:include`s left in /prerelease.
You might still search for `<reference anchor="IANA` to get a number of IANA references.
I find some 158 matches.

[2022-10-26 19:50] strogonoff commented on #313
@kesara I believe this may have to do with a regression regarding to fetching DOI, and which should be addressed in the latest PR. This issue affected certain DOIs (e.g., those that specified contributor roles), and also could cause an error 500 when using DOI lookup widget on landing page.

Staging link works now: https://dev.bibxml.org/public/rfc/bibxml7/reference.DOI.10.17487/RFC9000.xml

[2022-10-26 20:39] kesara commented on #313
Thanks, @strogonoff, fix has been deployed.
Fixed in #314.

[2022-10-26 20:39] #313 closed

[2022-10-27 04:57] reschke opened #315 "Incorrect names in internet draft reference XML"
### Describe the issue

https://bib.ietf.org/public/rfc/bibxml-ids/reference.I-D.iab-xml2rfcv2.xml

has

[code]

This is a regression.

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-10-27 05:46] ronaldtse commented on #315
Thanks @reschke , this may be an issue in the recent initials processing code. We'll fix this.

* https://github.com/relaton/relaton-ietf/issues/109

[2022-10-27 13:57] rjsparks commented on #315
See also https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.levkowetz-xml2rfc-v3-implementation-notes.xml
where it claims `<author fullname="Henrik Levkowetz" surname="Henrik Levkowetz">`

[2022-10-27 14:01] ronaldtse commented on #315
Thanks @rjsparks !

[2022-10-27 14:54] ajeanmahoney commented on #296
It has fixed the issue of displaying author name of "Internet Architecture Board" when "IAB" should be displayed. However, there are some RFCs (e.g., RFC 4845) where the author name is given as "Internet Architecture Board" in the document header. References to these RFCs should display "Internet Architecture Board".

[2022-10-27 15:13] rjsparks commented on #312
This has been the root of a lot of the difficulty with this transition. For us, adding data to the reference just because the grammar would let you was not intended to be part of this project. The explicit goal of the project was to replace the existing service with better infrastructure. Making the content of what was served "better" crept in along the way. Some of it was unavoidable as what was

[2022-10-27 15:32] ronaldtse commented on #296
@ajeanmahoney I'm a bit confused:

https://bib.ietf.org/public/rfc/bibxml/reference.RFC.4845.xml

does provide:

[code]

Is this incorrect?

[2022-10-27 18:11] ajeanmahoney commented on #296
@ronaldtse yes, the XML is as shown above. However, if the abbrev attribute is provided and has content, it is used in the reference instead.

In the case where "Internet Architecture Board" is given as the author name in rfc-index.xml, the abbrev attribute should not be used so that "Internet Architecture Board" is displayed.

[2022-10-28 23:52] alicerusso commented on #303
When an RFC is obsoleted, it no longer is part of the subseries identifier.
(I’m not sure how you are defining “proposed" and “active” here.)

No, they don’t. When referenced, a subseries identifier only lists the titles of the component RFC(s). The subseries identifier doesn’t have its own title.

Case in point, in rfc-index.xml, in each <bcp-entry> and <std-entry>, no title is listed; only the c

[2022-11-01 14:44] ajeanmahoney commented on #312
@strogonoff [RFC 7322](https://www.rfc-editor.org/rfc/rfc7322) and the [Web Portion of the Style Guide](https://www.rfc-editor.org/styleguide/part2/) provide guidance on how the references should appear in text rather than how the XML should be constructed because authors do not have to write in XML. Authors can write their drafts in a variety of formats (XML, markdown, and plain text). [Tools](ht

[2022-11-04 17:22] stefanomunarini commented on #311
@kesara have a look at https://github.com/ietf-ribose/bibxml-service/pull/16 . Is this solution acceptable, or did you have anything different in mind?

[2022-11-06 09:19] kesara commented on #311
@stefanomunarini Thanks, that change looks good.
When you are ready make a PR against https://github.com/ietf-tools/bibxml-service.

[2022-11-08 09:44] rjsparks opened #318 "Normalization issue in bibxml-doi anchors"
Compare the anchor created at
https://bib.ietf.org/public/rfc/bibxml-nist/reference.NIST.SP.800-56Cr1.xml
```anchor="NIST_SP_800_56Cr1"```
to that created at
https://bib.ietf.org/public/rfc/bibxml7/reference.DOI.10.6028/NIST.SP.800-56Cr1.xml
(aka https://bib.ietf.org/public/rfc/bibxml-doi/reference.DOI.10.6028/NIST.SP.800-56Cr1.xml
```anchor="DOI_10.6028_NIST.SP.800-56CR1"```

56Cr1 is what people

[2022-11-08 17:26] stefanomunarini commented on #311
#319 , which contains the fix to this issue, has been merged. Closing this

[2022-11-08 17:26] #311 closed

[2022-11-15 11:43] stefanomunarini opened #320 "CodeCov token should be replaced by a ietf-tools token"
### Describe the issue

[`tests`](https://github.com/ietf-tools/bibxml-service/actions/workflows/tests.yml) GitHub Action (CI) is currently using a  CODECOV_TOKEN associated to **ietf-ribose** to upload the tests report to the Codecov servers (coverage reports can be found at https://app.codecov.io/gh/ietf-ribose/bibxml-service).

A new token for this organization, **ietf-tools**, should be create

[2022-11-16 14:30] ajeanmahoney opened #321 "RFC references should not list "RFC Publisher" as an author organization"
### Describe the issue

The addition of the following `<author>` information to RFC references is incorrect:

[code]
See, for example, https://bib.ietf.org/public/rfc/bibxml/reference.RFC.2119.xml

Please revert.

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

[2022-11-16 18:57] rjsparks commented on #321
@ronaldtse, @strogonoff  Please treat this as urgent.

[2022-11-17 05:03] ronaldtse commented on #321
Sorry I just noticed this. We will find a way to fix the versions using https://github.com/ietf-tools/github-action-build-relaton-yaml-source .

Ping @andrew2net @strogonoff @stefanomunarini

[2022-11-17 10:04] strogonoff commented on #321
Version pinning solution is ready in https://github.com/ietf-ribose/relaton-data-rfcs, preparing a PR now.

[2022-11-17 10:13] strogonoff commented on #321
@ronaldtse Correction, this is not applicable to the problem of pinning. Pinning by minor version ensures no change in schema occurs (between patch versions), but it makes no guarantees about unchanging data. With current architecture I don’t see what to do except wait for Andrew to roll back this change. @stefanomunarini any ideas?

[2022-11-17 10:22] strogonoff commented on #321
@kesara  Sadly, pinning won’t help. Pinning would ensure we don’t inadvertently move from 1.13.x to 1.14.x, but this change—since it’s not a change in the schema, but a change in data—happened between the patch versions of 1.13.x.

To avoid these changes we’d have to not just pin but also have a lockfile to ensure a fully fixed dependency tree of the tools for generating bibdata, with no changes b

[2022-11-17 10:47] kesara commented on #320
I have updated the `CODECOV_TOKEN`.

[2022-11-17 10:47] #320 closed

[2022-11-17 20:17] kesara commented on #321
IMHO if the gem is going to introduce a new set of data, it should be a *minor* version update, not a *patch*.
Pinning to a minor version only going to work if the Relaton gem release strategy is going not going to change any schema & introduce or remove data with patch releases.

You are suggesting that we lock the version to an exact release right?
Isn't this going to add more overhead in mainte

[2022-11-21 14:27] rjsparks commented on #312
@ronaldtse @strogonoff : What's holding back correcting this issue?
(See https://mailarchive.ietf.org/arch/msg/tools-discuss/Lmv3SN6UqQywtMdlk-wqp3m8_io)

[2022-11-22 03:26] ronaldtse commented on #312
@rjsparks we are just waiting to merge https://github.com/relaton/relaton-py/issues/53 , then we can merge the fix into bibxml-service.

[2022-11-22 20:33] stefanomunarini commented on #315
Can we close this @reschke ?

[2022-11-22 20:58] kesara commented on #312
#322 has been deployed & iana dataset has been reindexed.

[2022-11-22 22:35] rjsparks commented on #315
@stefanomunarini : No - it's not fixed. It may have moved around a little, but what's coming out right now still isn't right:
`    <author fullname="Julian F. Reschke" initials="F." surname="Reschke"/>`
Note that what is coming from the datatracker at https://datatracker.ietf.org/doc/bibxml3/reference.I-D.iab-xml2rfcv2.xml is:
`      <author initials="J." surname="Reschke" fullname="Julian Reschke

[2022-11-23 06:02] ronaldtse commented on #315
@rjsparks @reschke The problem seems to lie with the authoritative source dataset obtained from the Datatracker archive:

[code]

The file contains this:
[code]

The relevant lines are:
[code]

Notice that the `01` version is:
[code]

And `00` version:
[code]

From the `02` version, which is what the unversioned reference points to, it would be difficult to obtain the desired content.

[2022-11-23 06:43] reschke commented on #315
2 cents. I don't know how this broke, and why. But it seems pretty clear that we have a lack of test coverage.

If somebody reports broken references, add that reference to your test suite so you can be sure when it is fixed, and that it stays fixed.

[2022-11-23 08:41] #312 closed

[2022-11-23 08:41] stefanomunarini commented on #312
Thank you @kesara

[2022-11-23 17:42] rjsparks commented on #315
High level point: It is a _problem_ that you produce output that is different from what the datatracker provides. "Fixing" what comes out of the datatracker is not something this system should be doing at all.

Interestingly, at the moment:
[code]
And it does return the bibxml for `02`.  I'll investigate why the copy at the rsync point is not the same.

[2022-11-23 18:24] rjsparks commented on #315
this turns out to be related to https://github.com/ietf-tools/datatracker/pull/4470. We created the initial bibxml-ids backing store in Jan 22, before that change was made. There are quite a number of references that would change because of it. I'm running the update over the backing store now.

[2022-11-23 18:54] rjsparks commented on #315
That update is complete.

[2022-11-24 01:13] ronaldtse commented on #315
Thank you, I agree that reproducing the data identically from the datatracker is the intended goal. And thank you for updating the backing store. We will ensure that this is the case going forward.

Thanks @reschke , this is certainly something we have been doing when issues arise.

[2022-11-28 08:07] ronaldtse commented on #321
Sorry for getting back late, this issue has been fixed around 10 days ago.

[2022-11-29 14:55] ajeanmahoney commented on #321
@ronaldtse My spot check shows that it is fixed. Thanks!

[2022-11-29 17:26] #321 closed

[2022-11-29 17:46] ronaldtse commented on #321
Thank you @ajeanmahoney !